
.light-theme {
    --bg-color: #f2f2f2;
    --text-color: #222;
    --link-color: #007bff;
    --nav-bg: rgba(50, 50, 50, 0.85);
    --nav-item-hover: rgba(0, 0, 0, 0.08);
    --nav-item-active: rgba(0, 0, 0, 0.2);
    --icon-filter: invert(0);
}

.dark-theme {
    --bg-color: #222222;
    --text-color: #e4e4e4;
    --link-color: #66b2ff;
    --nav-bg: rgba(30, 30, 30, 0.08);
    --nav-item-hover: rgba(255, 255, 255, 0.15);
    --nav-item-active: rgba(255, 255, 255, 0.25);
    --icon-filter: invert(1);
}

.high-contrast-theme {
    --bg-color: #000;
    --text-color: #fff;
    --link-color: #ff0;
    --nav-bg: #000;
    --nav-item-hover: #333;
    --nav-item-active: #666;
    --icon-filter: invert(1);
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    flex: 1;
}


.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
