@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation
@inject HttpClient Http

@if (!hideLayout) {
    <div class="page @themeClass">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
else {
    @Body
}

@code {
    private AuthenticationState? authState;
    private bool hideLayout;
    private string themeClass = "light-theme";

    protected override async Task OnInitializedAsync() {
        await SetupThemesAsync();
        UpdateLayoutVisibility();
        Navigation.LocationChanged += (_, __) => UpdateLayoutVisibility();

        await RefreshToken();
        authState = await AuthProvider.GetAuthenticationStateAsync();
    }

    private async Task RefreshToken()
    {
        if (!await LocalStorage.ContainKeyAsync("authToken"))
        {
            Navigation.NavigateTo("/login");
        }

        var response = await Http.GetAsync("/api/auth/refresh");
        if (!response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/login");
        }

        var newToken = await response.Content.ReadAsStringAsync();
        await LocalStorage.SetItemAsync("authToken", newToken);
    }

    private async Task SetupThemesAsync()
    {
        if (await LocalStorage.ContainKeyAsync("darkMode"))
        {
            if (await LocalStorage.GetItemAsync<bool>("darkMode"))
            {
                themeClass = "dark-theme";
            }
        } else
        {
            await LocalStorage.SetItemAsync<bool>("darkMode", false);
        }

        if (await LocalStorage.ContainKeyAsync("highContrastMode"))
        {
            if (await LocalStorage.GetItemAsync<bool>("highContrastMode"))
            {
                themeClass = "high-contrast-theme";
            }
        } else
        {
            await LocalStorage.SetItemAsync<bool>("highContrastMode", false);
        }
    }

    private void UpdateLayoutVisibility() {
        var currentUri = Navigation.ToBaseRelativePath(Navigation.Uri).ToLower();
        hideLayout = currentUri.StartsWith("login") || currentUri.StartsWith("register");
        InvokeAsync(StateHasChanged);
    }
}