@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation

@if (!hideLayout) {
    <div class="page @(isDarkTheme ? "dark-theme" : "light-theme")">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
else {
    @Body
}

@code {
    private AuthenticationState? authState;
    private bool hideLayout;
    private bool isDarkTheme = false;


    protected override async Task OnInitializedAsync() {
        if (!await LocalStorage.ContainKeyAsync("authToken"))
        {
            Navigation.NavigateTo("/login");
        }
        authState = await AuthProvider.GetAuthenticationStateAsync();
        UpdateLayoutVisibility();
        Navigation.LocationChanged += (_, __) => UpdateLayoutVisibility();

        if (await LocalStorage.ContainKeyAsync("darkMode")) {
            isDarkTheme = await LocalStorage.GetItemAsync<bool>("darkMode");
        }
        else {
            // default: light
            await LocalStorage.SetItemAsync<bool>("darkMode", false);
        }
    }

    private void UpdateLayoutVisibility() {
        var currentUri = Navigation.ToBaseRelativePath(Navigation.Uri).ToLower();
        hideLayout = currentUri.StartsWith("login") || currentUri.StartsWith("register");
        InvokeAsync(StateHasChanged);
    }
}