@page "/history"

@inject ILocalStorageService LocalStorage
@inject HttpClient Http

@using System.Globalization
@using Client.Pages.Components.GameHistory
@using Shared

<PageTitle>Game History</PageTitle>

<h1 class="text-2xl font-bold mb-4">Game History</h1>
@if (gamesHistory != null) {
    <GameHistory GamesHistory=gamesHistory />
}
else {
    <p>Loading</p>
}

@code {
    private IEnumerable<GameDto>? gamesHistory;

    protected override async Task OnInitializedAsync() {
        await GetHistory();
    }

    async Task GetHistory() {
        try {
            var token = await LocalStorage.GetItemAsync<string>("authToken");
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

            gamesHistory = await Http.GetFromJsonAsync<IEnumerable<GameDto>>("/api/game/games");
        }
        catch (Exception ex) {

        }
    }
 }
