@page "/history"

@inject ILocalStorageService LocalStorage
@inject HttpClient Http

@using System.Globalization
@using Client.Pages.Components.GameHistory
@using Shared
@using Shared.Dtos

<PageTitle>Game History</PageTitle>

<h1 class="text-2xl font-bold mb-4">Game History</h1>
@if (gamesHistory != null) {
    <GameHistory GamesHistory=gamesHistory />
    <div class="history-pagination">
        <button @onclick="LoadPreviousPage"
                disabled="@(!HasPreviousPage)"
                class="pager-btn">
            ‹ Previous
        </button>

        <button @onclick="LoadNextPage"
                disabled="@(!HasNextPage)"
                class="pager-btn">
            Next ›
        </button>
    </div>
    

}
else {
    <p>Loading</p>
}

@code {
    private IEnumerable<GameDto>? gamesHistory;
    private int page = 1;

    private bool HasNextPage = true;
    private bool HasPreviousPage => page > 1;

    protected override async Task OnInitializedAsync()
    {
        await LoadPage();
    }

    private async Task LoadPage()
    {
        try
        {
            var token = await LocalStorage.GetItemAsync<string>("authToken");
            Http.DefaultRequestHeaders.Authorization =
                new AuthenticationHeaderValue("Bearer", token);

            var result = await Http.GetFromJsonAsync<IEnumerable<GameDto>>(
                $"/api/games?page={page}&pageSize=18"
            );

            gamesHistory = result;

            HasNextPage = result?.Count() == 18;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task LoadNextPage()
    {
        if (!HasNextPage) return;

        page++;
        await LoadPage();
    }

    private async Task LoadPreviousPage()
    {
        if (page <= 1) return;

        page--;
        await LoadPage();
    }
 }
