@page "/history"

@using System.Globalization
@using Client.Pages.Components.GameHistory

<PageTitle>Game History</PageTitle>

<h1 class="text-2xl font-bold mb-4">Game History</h1>
@if (gamesHistory != null)
{
    <GameHistory GamesHistory=gamesHistory />
}
else
{
    <p>Loading</p>
}

@code {
    private List<GameHistoryItem>? gamesHistory;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(300); 
        gamesHistory = GetMockHistory();
    }

    private List<GameHistoryItem> GetMockHistory() => new()
    {
        new GameHistoryItem { Won = true, GuessedWord = "APPLE", Tries = 4, Date = DateTime.Now.AddDays(-1), Category = "Fruits" },
        new GameHistoryItem { Won = false, GuessedWord = "", Tries = 2, Date = DateTime.Now.AddDays(-2), Category = "Animals" },
        new GameHistoryItem { Won = true, GuessedWord = "MUSIC", Tries = 5, Date = DateTime.Now.AddDays(-3), Category = "Art" },
        new GameHistoryItem { Won = true, GuessedWord = "BRICK", Tries = 3, Date = DateTime.Now.AddDays(-5), Category = "Objects" }
    };
}
