@page "/leaderboard"

@inject ILocalStorageService LocalStorage
@inject HttpClient Http

@using System.Globalization
@using Shared
@using Shared.Dtos

<PageTitle>Leaderboard</PageTitle>

<h1 class="text-2xl font-bold mb-4">Leaderboard</h1>

<div class="mb-4">
    <input type="text"
           class="border p-2 rounded"
           placeholder="Search user..."
           @bind="searchTerm"
           @bind:event="oninput" />

    <button class="ml-2 p-2 bg-blue-500 text-light rounded button-search"
            @onclick="Search">
        Search
    </button>
</div>

@if (leaderboardEntries != null) {
    <Client.Pages.Components.Leaderboard.Leaderboard LeaderboardEntries=leaderboardEntries />
    <div class="history-pagination">
        <button @onclick="LoadPreviousPage"
                disabled="@(!HasPreviousPage)"
                class="pager-btn">
            ‹ Previous
        </button>

        <button @onclick="LoadNextPage"
                disabled="@(!HasNextPage)"
                class="pager-btn">
            Next ›
        </button>
    </div>


}
else {
    <p>Loading</p>
}

<style>
    .button-search {
        background: linear-gradient(135deg, #102030, #303030)
    }
</style>

@code {
    private IEnumerable<LeaderboardEntryDto>? leaderboardEntries;
    private string searchTerm = "";
    private int page = 1;

    private bool HasNextPage = true;
    private bool HasPreviousPage => page > 1;

    protected override async Task OnInitializedAsync() {
        await LoadPage();
    }

    private async Task LoadPage() {
        try {
            var token = await LocalStorage.GetItemAsync<string>("authToken");
            Http.DefaultRequestHeaders.Authorization =
                new AuthenticationHeaderValue("Bearer", token);

            var url = $"/api/leaderboard?page={page}&pageSize=16";
            if (!string.IsNullOrWhiteSpace(searchTerm)) {
                url += $"&filter={Uri.EscapeDataString(searchTerm)}";
            }
            var result = await Http.GetFromJsonAsync<IEnumerable<LeaderboardEntryDto>>(url);

            leaderboardEntries = result;

            HasNextPage = result?.Count() == 16;
        }
        catch (Exception ex) {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task LoadNextPage() {
        if (!HasNextPage) return;

        page++;
        await LoadPage();
    }

    private async Task LoadPreviousPage() {
        if (page <= 1) return;

        page--;
        await LoadPage();
    }

    private async Task Search() {
        page = 1; // reset to first page for new search
        await LoadPage();
    }
}
