@using System.Globalization
@using Client.Pages.Components.GameHistory
@using Shared
@using Shared.Dtos

@if (GamesHistory?.Count() == 0) {
    <p>No games played yet.</p>
}
else {
    <table class="table-auto w-full border-collapse border border-gray-300" style="margin: auto">
        <thead class="bg-gray-100">
            <tr>
                <th class="border border-gray-300 px-4 py-2 text-center">Game</th>
                <th class="border border-gray-300 px-4 py-2 text-center">Tries</th>
                <th class="border border-gray-300 px-4 py-2 text-center">Hard mode</th>
                <th class="border border-gray-300 px-4 py-2 text-center">Hints</th>
                <th class="border border-gray-300 px-4 py-2 text-center">Status</th>
                <th class="border border-gray-300 px-4 py-2 text-center">Link</th>
            </tr>
        </thead>
        <tbody>
            @if (GamesHistory is not null)
            {
                @foreach (var gameHistoryEntry in GamesHistory) {
                    <GameHistoryRow GameHistoryItem=gameHistoryEntry />
                }
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public IEnumerable<GameDto>? GamesHistory { get; set; }
}