@using System.Globalization
@using Client.Pages.Components.GameHistory
@using Shared
@using Shared.Dtos

@if (GamesHistory?.Count() == 0) {
    <p class="no-games-text">No games played yet.</p>
}
else {
    <div class="game-history-container">
        <table class="game-history-table">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Tries</th>
                    <th>Hard mode</th>
                    <th>Hints</th>
                    <th>Status</th>
                    <th>Link</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var entry in GamesHistory!) {
                    <GameHistoryRow GameHistoryItem="entry" />
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter] public IEnumerable<GameDto>? GamesHistory { get; set; }
}